html {
    /* prevents padding adding extra heights and width */
    box-sizing: border-box; 
}

 body {
     margin: 0;
     /* always stretch the background to be the full height of the screen */
     min-height: 100vh;
 }